<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vexeonline">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.example.vexeonline.activity.InformationActivity"
            android:label="Thông tin">

        </activity>

        <activity android:name="com.example.vexeonline.activity.NhaXeActivity" />
        <activity android:name="com.example.vexeonline.activity.VeDaMuaActivity" />
        <activity android:name="com.example.vexeonline.activity.RegisterActivity" />
        <activity android:name="com.example.vexeonline.activity.AdminAccountActivity" />
        <activity android:name="com.example.vexeonline.activity.UserAccountActivity" />
        <activity android:name="com.example.vexeonline.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.vexeonline.activity.InforUserActivity" />
        <activity android:name="com.example.vexeonline.activity.GioHangActivity" />
        <activity android:name="com.example.vexeonline.activity.ChiTietXeActivity" />
        <activity android:name="com.example.vexeonline.activity.ContractActivity" />
        <activity android:name="com.example.vexeonline.activity.LimousineActivity" />
        <activity android:name="com.example.vexeonline.activity.TicketActivity" />
        <activity android:name="com.example.vexeonline.activity.XeGiuongNamAvtivity" />
        <activity android:name="com.example.vexeonline.activity.MainActivity"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>